<?xml version='1.0' encoding='utf-8'?>
<widget id="net.omnidan.love" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>love</name>
    <description>
        Spread love
    </description>
    <author email="daniel.bugl@gmail.com" href="http://omnidan.net">
        Daniel Bugl
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarBackgroundColor" value="#7B1FA2" />
</widget>
