html,body {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto', 'Arial', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

core-toolbar {
    background-color: #9C27B0;
    color: #FFFFFF;
}